/* Share Styles */

img,
video {
  width: 100%;
  height: auto;
}

.navbar {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.nav-list {
  list-style-type: none;
  width: 100%;
  display: none;
}
.nav-list .list-item {
  display: block;
  padding: 0.5rem 0.5rem;
  border-top: 1px solid white;
}
.navbar a {
  color: white;
  text-decoration: none;
}
.menu {
  display: block;
  position: absolute;
  right: 2rem;
  top: 0.65rem;
}
.active-source {
  display: block;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .card {
  padding-top: 3rem;
}

.card {
  background-color: #fffaa0;
  min-height: 100vh;
}

.bubblegum-sans {
  font-family: "Bubblegum Sans", cursive;
}
/* Mobile Only Styles */
@media (max-width: 47.9375em) {
}

/* Desktop Only Styles */
@media (min-width: 48em) {
}
